@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slide-down {
    @apply transform transition ease-out duration-300 -translate-y-10 opacity-0;
    animation: slideDown 0.3s ease-out forwards;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-1.5rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
