<aside
  class="w-20 bg-white border-r border-gray-200 flex flex-col items-center py-4"
>
  <div class="p-2">
    <img
      src="https://tailwindflex.com/images/logo.svg"
      alt="Logo"
      class="h-8 w-8"
    />
  </div>

  <nav class="flex-1 w-full px-2 space-y-2 mt-6">
    <a
      routerLink="/admin/products"
      routerLinkActive="bg-indigo-50 text-[#595858]"
      class="w-full p-3 flex justify-center rounded-lg bg-[#bdbcbc] hover:bg-gray-50"
    >
      <svg
        class="h-6 w-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2H5a2 2 0 00-2 2z"
        />
      </svg>
    </a>

    <a
      routerLink="/admin/products/add"
      routerLinkActive="bg-indigo-50 text-[#595858]"
      class="w-full p-3 flex justify-center rounded-lg bg-[#bdbcbc] hover:bg-gray-50"
    >
      <svg
        class="h-6 w-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </svg>
    </a>
  </nav>
</aside>
