<footer class="bg-white pt-10">
  <!-- Newsletter -->
  <div class="container mx-auto px-4 text-center mb-10">
    <h2 class="text-lg text-[#595858] font-semibold mb-4 tracking-wider">
      NEWSLETTER
    </h2>
    <div class="flex justify-center items-center">
      <div class="overflow-hidden">
        <input
          type="email"
          placeholder="Email address"
          class="px-4 pt-[1rem] pb-[1rem] w-50 mr-4 border border-gray-300 text-sm focus:outline-none"
        />
        <button
          class="bg-[#595858] text-white px-4 py-[1.2rem] text-xs font-semibold uppercase"
        >
          Subscribe
        </button>
      </div>
    </div>
  </div>

  <!-- Footer Links -->
  <div class="border-t border-b border-gray-300 py-0">
    <div
      class="max-w-screen-xl mx-auto flex flex-col md:flex-row text-center md:text-left h-full"
    >
      <!-- Column 1 -->
      <div class="flex-1 px-6 py-10">
        <p class="text-sm text-[#595858] uppercase mb-2">
          Your customized order is just a text away!
        </p>
        <p class="text-sm text-[#595858] mb-2">
          <a href="tel:+918287000645" class="hover:underline">
            +91 82870 00645
          </a>
        </p>
        <p class="text-sm text-[#595858]">
          <a href="mailto:vaishdesigns@gmail.com" class="hover:underline">
            vaishdesignsgmail.com
          </a>
        </p>
      </div>

      <!-- Column 2 with horizontal borders on mobile and vertical borders on desktop -->
      <div
        class="flex-1 border-t border-b md:border-t-0 md:border-b-0 md:border-l md:border-r border-gray-300 px-6 py-10"
      >
        <div class="space-y-2 uppercase text-[#595858]">
          <a href="#" class="block text-sm hover:underline">Contact</a>
          <a href="#" class="block text-sm hover:underline">Stockists</a>
          <a href="#" class="block text-sm hover:underline">About Us</a>
        </div>
      </div>

      <!-- Column 3 -->
      <div class="flex-1 px-6 py-10">
        <div class="space-y-2 uppercase text-[#595858]">
          <a href="#" class="block text-sm hover:underline">Size Chart</a>
          <a href="#" class="block text-sm hover:underline"
            >Shipping & Returns</a
          >
          <a href="#" class="block text-sm hover:underline">Privacy Policy</a>
          <a href="#" class="block text-sm hover:underline"
            >Terms and Conditions</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Social Media & Copyright -->
  <div
    class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between py-6"
  >
    <div class="flex space-x-4 mb-4 md:mb-0">
      <a href="#" class="hover:opacity-75">
        <i class="fab fa-facebook-f text-2xl"></i>
      </a>
      <a href="#" class="hover:opacity-75">
        <i class="fab fa-instagram text-2xl"></i>
      </a>
    </div>
    <div class="text-sm text-center md:text-right">Powered by Shopify</div>
  </div>
</footer>
